/* 1920 X 1080 */

.img-fluid {
    width: 500px;
    height: 500px;
}

.footer {
    align-content: center;
}

.emailArea, .passwordArea {
    margin: 0px auto;
    
}

.landinglogin {
    margin-bottom: 5px;
}

.text-center {
    background-color: #c3d0d0;
    opacity: 0.5;
}

#formBasicPassword, #formBasicEmail {
    align-content: center;
    max-width: 300px;
    max-height: 300px;
    padding-left: auto;
    padding-right: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }
  
  /* Maybe even support hover opacity shifts */
  .opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
  }
  .opacity-0h5:hover {
    opacity:1!important;
  }





